/* custom-dropdown.css */

/* Asegúrate de que el dropdown-menu tenga fondo transparente */
.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black !important; /* Fondo transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Sombra para definir los bordes */
    padding: 0;
    list-style: none;
    margin: 0;
    z-index: 1000;
    border: none; /* Elimina cualquier borde */
}

/* Mostrar el menú cuando esté activo */
.nav-item.dropdown.show .dropdown-menu {
    display: block;
}


/* Borde inferior sutil para los elementos del menú */
.nav-item .dropdown-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; /* Borde sutil */
}

.nav-item .dropdown-menu li:last-child {
    border-bottom: none;
}

/* Opciones del menú con fondo transparente */
.nav-item .dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: #333;
    text-decoration: none;
    background-color: transparent !important; /* Fondo transparente */
    transition: background-color 0.3s;
}

/* Efecto hover para opciones del menú */
.nav-item .dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.1) !important; /* Fondo ligeramente oscuro en hover */
}

/* Asegurarte de que el menú no esté cubierto por otros elementos */
.navbar-toggler {
    z-index: 1050; /* Asegura que el botón de hamburguesa esté por encima */
}

.navbar-collapse {
    z-index: 1049; /* Asegura que el menú colapsado tenga un buen orden */
}

.dropdown-menu {
    z-index: 9999; /* Esto asegura que el dropdown siempre esté visible sobre otros elementos */
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: relative;
    }
    .navbar-nav {
        position: relative;
    }

}