@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", "sans-serif";
}

html {
  overflow-x: hidden;
}

.download-btn-first {
  background: #f7f7f7;
}

.download-btn-first:hover {
  background: #234197;
  color: #fff !important;
}

.features-btn-first {
  font-weight: 700;
}

.features-btn-first:hover {
  background: #f7f7f7 !important;
  color: #234197 !important;
}



#fh5co-hero-wrapper {
  height: 200px;
  width: 100%;
  background: url("../img/pexels-cottonbro-4488660.jpg") no-repeat center;
  border-radius: 0 0 50% 50% / 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre elementos */
}

.main-navbar-nav .navbar-brand {
  font-size: 38px;
  letter-spacing: 4px;
  position: relative;
  top: -5px;
  font-weight: 500;
 
}

.main-navbar-nav {
  color: #fff !important;
 
}
.main-navbar-nav li {
  color: #fff;
  opacity: .7;
}
.main-navbar-nav .navbar-nav .nav-item a:hover {
  color: #234197 !important;
  -webkit-transition: all .33s ease;
  -moz-transition: all .33s ease;
  -o-transition: all .33s ease;
  -ms-transition: all .33s ease;
  transition: all .33s ease;
}
.main-navbar-nav .active {
  color: #fff !important;
  opacity: 1 !important;
}
.main-navbar-nav a {
  color: #fff !important;
}
.main-navbar-nav .nav-link {
  opacity: 1 !important;
  margin: 0 35px;
  font-size: 14.5px;
  font-weight: 500;
}

.social-icons-header i {
  margin: 15px;
  font-size: 20px;
}

.social-icons-header a:hover i {
  opacity: .6;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}





		body {
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 0;
			padding: 0;
		}

		.catalogo {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: stretch;
			margin: 20px 50px;
			gap: 30px; /* Aumentamos el espacio entre los elementos */
		}

		.infobox {
			background-color: white;
			border: 12px solid #ddd;
			border-radius: 8px;
			padding: 0px;
			margin: 10px;
			width: 325px;
			box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
			text-align: center;
			transition: transform 0.3s ease; /* Añadimos una pequeña animación */
		}

		.infobox:hover {
			transform: translateY(-5px); /* Efecto hover para levantar la caja ligeramente */
		}

    .infobox img {
      width: 100%;  /* Tamaño fijo para el ancho de la imagen */
      height: 300px; /* Tamaño fijo para el alto de la imagen */
      object-fit: cover; /* Asegura que la imagen mantenga su proporción */
      border-radius: 5px; /* Bordes redondeados */
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin-bottom: 15px;
      object-position: center;
  }
  

		.infobox h2 {
			font-size: 1.3em;
			margin: 15px 0;
		}

		.infobox p {
			font-size: 1em;
			color: #555;
			margin: 10px 0;
		}

		.infobox .precio {
			font-size: 1.2em;
			font-weight: bold;
			color: #4CAF50;
			margin: 10px 0;
		}

		.infobox button {
			background-color: #3498db;
			color: white;
			padding: 12px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 1em;
			transition: background-color 0.3s ease;
			margin-top: 10px;
			margin-bottom: 8px;
		}

		.infobox button:hover {
			background-color: #2980b9;
		}





        /* Estilo para el título del catálogo */
		h1 {
			margin-top: 30px;
			margin-bottom: 40px;
			font-size: 2.0em;
			text-align: center;
		}








       
/* Estilo del botón "+" */
.add-btn {
    font-size: 24px;
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.openModalBtn {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  background-color: #f0f0f0; /* Fondo opcional */
}

#openModalBtn:hover {
  background-color: #2980b9;
}

/* Estilo del modal */
.modal {
    display: flex; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fefefe(0, 0, 0, 0.5);
    overflow: auto;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

/* Contenido del modal */
.modal-content {

    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #fefefe;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
   
}

/* Botón de cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.main-container {
  display: flex; /* Organiza los contenedores en fila */
  justify-content: center; /* Centra los contenedores horizontalmente */
  gap: 400px; /* Espacio entre los contenedores */
}

.button-container {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  color: black;
  
}

.custom-button {
  color: white; /* Cambia el azul por rojo o cualquier color */
  border: none;
}

.custom-button:hover {
  background-color: black; /* Cambia el fondo al pasar el cursor */
}

.text-center {
  text-align: center;
}

.button-container2 {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  color: black;
  
}

.button-container3 {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  color: black;
  
}

.btn-secondary {
  border-width: 1px; /* Grosor del borde */
  background-color: gray; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 15px 60px;
}



.content-container {
  text-align: center;
  margin: 20px;
}

.hidden-content {
  display: none; /* Oculta el contenido inicialmente */
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.hidden-content {
  display: none; /* Oculto inicialmente */
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.toggle-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.infobox {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.precio {
  margin: 5px 0;
  font-weight: bold;
}


   /* ==========================================================================================================
										SUB FOOTER
   ========================================================================================================== */
   .img-float-left {
    float: left;
    
  }
  
  .img-float-right {
    float: right;
  }
  
  .footer-outer {
    width: 100%;
    padding: 50px;
    height: 250px;
    background: #2e3149;
    overflow: hidden;
  }
  .footer-outer .footer-inner {
    width: 100%;
    height: inherit;
  }
  .footer-outer .social-icons-footer i {
    margin: 15px;
    font-size: 20px;
  }
  .footer-outer .social-icons-footer a:hover i {
    opacity: .6;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
  }
  .footer-outer .footer-three-grid {
    width: 1140px;
    margin: 0 auto;
    height: 50px;
    text-align: center;
  }
  .footer-outer .column-1-3 {
    width: 20%;
    float: left;
    height: 50px;
  }
  .footer-outer .column-1-3 h1 {
    font-size: 38px;
    letter-spacing: 3px;
    position: relative;
    top: -35px;
    font-weight: 600;
    color: #fff;
  }
  .footer-outer .column-2-3 {
    width: 60%;
    float: left;
    height: 50px;
  }
  .footer-outer .column-3-3 {
    width: 20%;
    float: left;
    height: 50px;
  }
  .footer-outer .column-3-3 a {
    color: #b5b5c8;
  }
  .footer-outer .column-3-3 .social-icons-header a:hover {
    color: #fff;
    opacity: 1;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
  }
  .footer-outer .footer-nav ul {
    list-style: none;
    text-align: center;
  }
  .footer-outer .footer-nav ul li {
    display: inline-block;
    line-height: 50px;
    color: #b5b5c8;
    margin: 0 30px;
    font-size: 14px;
  }
  .footer-outer .footer-nav ul li:hover {
    color: #fff;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
  }
  .footer-outer .footer-nav ul .active {
    color: #fff;
  }
  .footer-outer .footer-nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  .footer-outer .border-bottom-footer {
    height: 1px;
    width: 60%;
    margin: 0 auto;
    border: 1px solid #434769;
    display: block;
    margin-top: 50px;
  }
  .footer-outer .copyright {
    color: #565b87;
    text-align: center;
    font-size: 13px;
    padding: 40px 0;
  }
  
  .google-play-btn {
    margin-left: 10px;
  }
  @media screen and (max-width: 1400px) {
   
    .footer-outer .footer-three-grid {
      width: 100%;
    }

  }

  @media screen and (max-width: 993px) {

    .footer-outer .footer-nav ul li {
      margin: 0 10px;
    }
  
    .footer-outer .social-icons-footer i {
      margin: 15px 10px;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 800px) {
    
    .footer-outer {
      height: auto;
      padding: 20px;
    }
  
    .footer-outer .column-1-3 {
      width: 100%;
      float: none;
      height: auto;
      padding-top: 30px;
    }
  
    .footer-outer .column-2-3 {
      width: 100%;
      float: none;
      height: auto;
    }
  
    .footer-outer .column-3-3 {
      width: 100%;
      float: left;
      height: auto;
      margin: 15px 0;
    }
  
    .footer-outer .copyright {
      margin-top: 30px;
      padding: 10px 0;
    }
  
    .footer-outer .border-bottom-footer {
      height: 1px;
      width: 100%;
      margin: 0 auto;
      border: 1px solid #434769;
      display: block;
      margin-top: 100px;
    }
  }
          
          @media (max-width: 768px) {
            .catalogo {
                margin: 20px 10px; /* Reducir márgenes en pantallas pequeñas */
                gap: 15px;
            }
        
            .infobox {
                width: calc(50% - 20px); /* Dos columnas en pantallas medianas */
                margin: 10px 5px;
            }
        
            .infobox img {
                width: 100%; /* Ajustar ancho de imagen al contenedor */
                height: 250px; /* Altura un poco más pequeña */
            }
            .main-container {
              flex-direction: column; /* Los contenedores se apilan verticalmente */
              gap: 20px; /* Reduce el espacio entre contenedores */
            }
            .custom-button {
              padding: 10px 30px; /* Botones más pequeños en pantallas pequeñas */
              font-size: 14px;
            }
        }
        
        @media (max-width: 480px) {
            .catalogo {
                margin: 10px 5px;
                gap: 10px;
            }

            .footer-outer .column-1-3 h1 {

              top: -51px;

            }

           footer ul{

              margin-top: -80px;

            }
        
            .infobox {
                width: 100%; /* Una columna en pantallas muy pequeñas */
                margin: 10px 0;
            }
        
            .infobox img {
                height: 200px; /* Reducir aún más la altura */
            }
        
            .infobox h2 {
                font-size: 1.1em;
            }
        
            .infobox p, .infobox .precio {
                font-size: 0.9em;
            }
        
            .infobox button {
                padding: 10px 15px;
                font-size: 0.9em;
            }

            .custom-button {
              padding: 8px 20px; /* Aún más pequeño en pantallas muy pequeñas */
              font-size: 15px;
            }
        }

        